@model TKPM.Models.PhieuThuTien
@using TKPM.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
        <div class="min-height-200px">
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Thêm phiếu thu tiền</h4>
                    </div>
                </div>
                
                <form method="post" asp-action="Create">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" asp-for="IdDaiLy">Đại lý</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="IdDaiLy">
                              @foreach(DaiLy modelDaiLy in @ViewData["DaiLy"] as List<DaiLy>)
                                {
                                    <option value=@modelDaiLy.Id>@modelDaiLy.TenDaiLy</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label"  asp-for="SoTienThu">Số tiền thu</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control"
                                   type="text"
                                   placeholder="" asp-for="SoTienThu"/>
                            <span></span>
                        </div>
                    </div>
                    <div class="center">
                        <input type="submit" value="Tạo phiếu thu"
                           class="btn btn-primary btn-sm scroll-click" />
                        <a class="btn btn-primary btn-sm scroll-click" asp-action="Index">Quay về</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
